FRONTEND

VITE_API_URL=...
_____________________________________
BACKEND

# PostgreSQL
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...

# Frontend
FRONTEND_URL=...

# Backend
DATABASE_URL=...

#JWT
JWT_SECRET=...

#Mailpit
MAIL_HOST=...
MAIL_PORT=...

# Github
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK_URL=...
