# PostgreSQL
POSTGRES_DB=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...

# Backend
DATABASE_URL=...

JWT_SECRET=...

#Mailpit
MAIL_HOST=...
MAIL_PORT=...

# Github
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_CALLBACK_URL=...

FRONTEND_URL=...