.login-page {
	display: flex;
	height: 100vh;
	width: 100vw;
}

.login-left {
  flex: 3; /*3/5 of space*/
  position: relative; 
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.bg-image {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('../assets/images/background.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;  /*behind text*/
  animation: kenburns-top-right 5s ease-out both;
}

.login-right {
  flex: 2; /*2/5 of space*/
  flex-direction: column;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right h1{
  font-size: 2rem;
  color: black;
}

.app-title {
  font-family: "Palatino", serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: black;
}

.app-subtitle {
  width: 50%;
  margin-top: -2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black
}

.no-account {
  font-size: 0.9rem;
  color: #000000;
  text-align: center;
  margin-bottom: -0.2rem;
}

.kenburns-bottom-left {
  -webkit-animation:kenburns-bottom-left 5s ease-out both;animation:kenburns-bottom-left 5s ease-out both
}

@-webkit-keyframes kenburns-top-right {
  0% {
    -webkit-transform: scale(1) translate(0,0);
    transform: scale(1) translate(0,0);
    -webkit-transform-origin: 84% 16%;
    transform-origin: 84% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(20px,-15px);
    transform: scale(1.25) translate(20px,-15px);
    -webkit-transform-origin: right top;
    transform-origin: right top;
  }
}

.login-bottom {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	margin-top: 1rem;
	justify-content: center;
}

.login-bottom button {
	font-size: 0.75rem;
	padding: 0.25rem;
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.login-bottom button:hover {
	text-decoration: underline;
}

.login-bottom .menu-bottom-item {
	background-color: transparent;
	border: none;
	padding: 0;
	opacity: 1 !important;
}

.login-bottom .menu-bottom-item .label {
	opacity: 1 !important;
}

.login-bottom .menu-bottom-item:hover .label {
	text-decoration: underline;
	background-color: transparent;
}

.login-bottom .menu-bottom-item:hover,
.login-bottom .menu-bottom-item:focus,
.login-bottom .menu-bottom-item:active {
	background: none !important;
}