/* Parent */
.profile-page {
	position: fixed;
	top: 65px;
	left: 60px;
	display: flex;
	flex-direction: column;
	width: calc(100vw - 60px);
	height: calc(100vh - 65px);
	box-sizing: border-box;
	background-color: white;
	color: black;
	overflow: hidden;
}


/* Profile info column */
.profile-info {
	width: 250px;
	background-color: white; 
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-right: 1px solid #00000053;
	border-left: 1px solid #00000053;
}

/* Cover and posts */
.cover-and-posts {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.cover-and-posts .cover img {
	width: 100%;
  	height: 100%;
  	object-fit: cover;
  	display: block;
}

/* Main content */
.main-content {
  display: flex;
  flex: 1;
}

.menu .menu-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.profile-info .profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 10%;
}

.profile-info .display-name {
  margin: 1rem 0 0.5rem 0;
}

.profile-info .stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.profile-info .bio {
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
	white-space: pre-line;
}

.cover-and-posts .posts {
  flex: 1;
  background-color: #dacbb5;
  padding: 1rem;
  overflow-y: auto;
}

.edit-profile-btn {
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	padding: 0.5rem 1rem;
	z-index: 10;
}
