html, body {
  height: 100%;
  margin: 0;
}

/* Buttons */
.regular-button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #1d1c1cea;
	border-radius: 10px;
	cursor: pointer;
  flex-shrink: 0;
	transition: background-color 0.2s;
}

.regular-button:hover {
	background-color: #5c5c5c;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field input {
  border: 1px solid #000;
  border-radius: 8px;
  margin: 0.2rem;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none; 

}

.form-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  gap: 0.5rem;
}

.form-button button {
  border-radius: 12px;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
}

.error-message {
  color: #777777;
   align-self: flex-end;
   margin-right : 0.2rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  border: 0;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
  animation: text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;
}

.shake-horizontal {
  -webkit-animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both;animation:shake-horizontal .8s cubic-bezier(.455,.03,.515,.955) both
}

@-webkit-keyframes shake-horizontal {
  0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}}@keyframes shake-horizontal{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}10%,30%,50%,70%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}20%,40%,60%{-webkit-transform:translateX(10px);transform:translateX(10px)}80%{-webkit-transform:translateX(8px);transform:translateX(8px)}90%{-webkit-transform:translateX(-8px);transform:translateX(-8px)}
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
